{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a class="btn btn-primary" href="{{ path('admin.index') }}">Администрирование</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Найти</button>
    {{ form_end(form) }}

    {%for article in articles %}
        <article>
            <h2><a href="{{ path('article.show',{'article':article.id}) }}">{{ article.title }}</a></h2>
            <div class="article-content">
                {{ article.body|raw|nl2br }}
            </div>
            <div>
                Дата создания: {{ article.createdAt|date('d.m.Y H:i:s') }}
                Автор:{{ article.author }}
            </div>
        </article>
    {% else %}
        <div>Ничего не нашлось</div>>
    {% endfor %}
</div>
{% endblock %}
